body {
    background: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(255, 255, 255), rgb(235, 133, 133));
}

#menubar {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    border-color: rgb(97, 99, 214);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(97, 99, 214);
}


#menubar li :hover {
    background: rgb(235, 133, 133);
    color: rgb(0, 0, 0);
    
}
/* thi is for the brand name on the top left*/
#menubar .navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-style: oblique;
    font-variant: small-caps;
    font-family: 'times new roman';
}
/* the words money tracker, graph and yearly progrss*/
#menubar li a {
    color: #ffffff;
    opacity: 100%;
    font-size: 20px;
    font-variant: small-caps;
    font-family: 'times new roman';

}

#purpose{
    text-align: center;
    margin-left: 500px;
}

#segment1{
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-family: "Times New Roman";
    text-align: center;
    
}

#segment2{
    text-align: left;
    margin-left: 20px;
    font-style: italic;
    margin-bottom: auto;
    
}
#p1{
    margin-left: 40px;
    text-align: left;
    
}

#web-graphic {
    margin: 0 auto;
    margin-top: 0px;
    width: 200px;
    height: 200px;
    background-image: url('dollarbill.png');
    background-size: 100% 100%;
}

#home-content {
    margin-top: 0px;
}

#home-content .col-sm-6 h3 {
    margin-top: 75px;
    text-align: left;
    margin-left: 100px;
    font-family: "Times New Roman", Gadget, sans-serif;
    color: rgb(31, 31, 31);
}

#home-content .col-sm-6 h4 {
    text-align: left;
    line-height: 30px;
    font-family: "Garamond", cursive, sans-serif;
    color: rgb(0, 0, 0);
}

#home-content .graph2 {
    margin: 0 auto;
    margin-top: 0px;
    width: 350px;
    height: 350px;
    background-image: url('graph2.png');
    background-size: 100% 100%;
}

#home-content .stock-holder-2 {
    margin: 0 auto;
    margin-top: 150px;
    width: 160px;
    height: 160px;
    background-image: url('stock-photo-2.png');
    background-size: 100% 100%;
}

.footer {
    margin-top: 200px;
    padding-top: 28px;
    padding-bottom: 22px;
    text-align: center;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    font-family: "times new roman";
}
